<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mychatapptutorial">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- We also ask user to remove any battery optimization constraints during runtime -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="Zest-Chat"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyChatAppTutorial">
        <activity android:name=".specificchat" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".chatActivity" />
        <activity android:name=".setProfile" />
        <activity android:name=".otpAuthentication" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SosActivity"/>
        <activity android:name=".splashscreen"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ReactivateService"
            android:enabled="true"
            android:exported="true" /> <!-- register the service -->
        <service
            android:name=".SensorService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>